name: Check

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  PRODUCT_VERSION: '1.9.5'

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # https://github.com/bazel-contrib/setup-bazel
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.17.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Build & Check C application with binaries
        run: |
          bazel build //src:bin
          bazel run //src:bin -- --help
